.playBar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .songDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;

    .singerDetails {
      line-height: 32px;
      margin: 12px;
      display: flex;
      font-size: 16px;
      flex-direction: column;
    }
  }

  .musicControlBar {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .icons {
      font-size: 22px;
      width: 400px;
      display: flex;
      justify-content: center;
      margin-top: 12px;

      > *:not(:last-child) {
        margin-right: 16px;
      }
    }

    .progressBar {
      font-size: 14px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        width: 100%;
      }

      > *:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  .extendControlBar {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons {
      font-size: 24px;
      width: 400px;
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      align-items: center;

      div {
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
      }

      > *:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}